{% extends "posters/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
    <div class="content-section">
        <form method="GET" enctype="multipart/form-data" action="{%url 'posters-home'%}">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Filter </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
<!--                <button class="'btn btn-outline-info" type="submit">Filter</button>-->
                <button class="'btn btn-outline-info" type="submit">Filter</button>

            </div>
        </form>
    </div>
{% endblock content %}

