{% extends "posters/base.html" %}
{% block content%}
<!--    loop through elements in the dictionary and print out information one by one. -->
    <article class="media content-section">
        <img class = "rounded-circle article-img" src="{{object.author.profile.image.url}}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted }}</small>
            <img src="{{object.image.url}}">
        </div>
         <h2 class="article-title">{{ object.title }}</h2>
         <b>WHO:</b><p class="article-group">{{ object.group }}</p>
         <b>WHAT:</b><p class="article-content">{{ object.content }}</p>
         <b>WHERE:</b> <p>{{object.location}}</p>
         <b>DATE:</b><p>{{object.date}}</p>
         <b>TIME:</b><p class="article-time"> from <i>{{ object.time_start }}</i> to <i>{{object.time_end}}</i>, </p>
         <button class="'btn btn-outline-info" type="submit" >Sign Up! </button>
         </div>
    </article>
{% endblock content %}
