/*
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
*/

body {
  background-image: url("../../../media/UI_pics/corkboard.png");
  /*color: #333333;*/
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  /*color: #444444;*/
  color: #996600;
}

ul {
  margin: 0;
}

.bg-steel {
  /*background-color: #5f788a;*/
  background-color: #FFBB77;
}

.site-header .navbar-nav .nav-link {
  /*color: #cbd5db;*/
  color: #CC7744;
}

.site-header .navbar-nav .nav-link:hover {
  /*color: #ffffff;*/
  color: #DD8855;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  /*color: #444444;*/
  color: #996600;
}

a.article-title:hover {
  /*color: #428bca;*/
  color: #CC9933;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid /*#e3e3e3*/ #CC9933
}

.article-metadata a:hover {
  color: /*#333;*/  #CC9933
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.home-img {
  object-fit: cover
  height: 792px;
  width: 172px;
  margin-right: 20px;
  margin-bottom: 16px;
  overflow: hidden;
}

.detail-img {
  object-fit: cover
  height: 792px;
  width: 525px;
  margin-right: 20px;
  margin-bottom: 16px;
  overflow: hidden;

.indv-page-img-needs-mod {
  object-fit: cover
  height: 792px;
  width: 170px;
  margin-right: 20px;
  margin-bottom: 16px;
  overflow: hidden;
}

.account-heading {
  font-size: 2.5rem;
}

img.resize {
  width:10px;
  height:10px;
}
